# ==========================================
# Vue.js (Node / npm / Vite / Vue CLI)
# ==========================================
# Dependencias
node_modules/
jspm_packages/

# Carpetas de compilación (Producción)
dist/
dist-ssr/
*.local

# Archivos de registro (Logs)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Caché de herramientas de testing y linters
.eslintcache
.stylelintcache
.cache/
.parcel-cache/
.nuxt/
.output/

# Archivos de entorno (Contienen credenciales secretas)
.env
.env.local
.env.*.local

# .NET (C# / Visual Studio / MSBuild)
# ==========================================
# Carpetas de compilación y salida
[Bb]in/
[Oo]bj/
out/

# Archivos de usuario y herramientas
*.user
*.userosscache
*.sln.docstates

# Caché de paquetes de Visual Studio y NuGet
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
project.lock.json
project.fragment.lock.json
artifacts/

# Archivos de publicación
*.publish.xml
*.pubxml
*.pubxml.user

# ==========================================
# Sistema Operativo y Generales
# ==========================================
.DS_Store
Thumbs.db
desktop.ini